@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-danger">Halloween trick or treat!</h1>
    <p class="text-success">L'événement principal de la fête est la chasse aux bonbons, aussi appelé passage d'Halloween, durant lequel des enfants déguisés vont de porte en porte pour réclamer des friandises. Les enfants anglophones crient « Trick or treat! », qui signifie « Farce ou friandise ! ».</p>
</div>
